* {
    margin: 0;
    padding: 0;
  }
  
  .luhn {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .luhn h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    width: calc(100% - 16px);
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  input[type="button"] {
    flex: 1;
    padding: 8px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
  }
  
  #result {
    visibility: hidden;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #eaeaea;
    text-align: center; 
  }
  
  #btnValidate,
  #btnCheckDigit,
  #btnReset {
    margin-right: 5px; 
  }
  
  .buttons-container {
    display: flex; 
  }
  
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  